

.container {
  margin: 0 auto;
  width: 750px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

#wrap {
  margin: 0 auto;
  width: 750px;
  background: white;
}

.footer {
  /*clear:both;*/
  /*background: red;*/
}

#main1 {
  float: left;
  width: 370px;
} 

#side1 {
  padding-top: 60px;
  float: right;
  width: 370px;
}

#turtles {
  clear: both;
}

#main2 {
  padding-top: 60px; 
  float: left;
  width: 370px;
} 

#side2 {
  padding-top: 60px;
  float: right;
  width: 370px;
}

#turtle2 {
  clear:both;
}

#main3 {
  padding-top: 80px; 
  float: left;
  width: 370px;
} 

#side3 {
  padding-top: 60px;
  float: right;
  width: 370px;
}

#pricing {
  clear: both;
}


